@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  font-size: 16px;
}

/* 다크 모드 설정 */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* 27인치 모니터에 해당하는 해상도 범위 (예: 최소 너비 1920px 이상) */
@media (min-width: 1920px) {
  :root {
    font-size: 18px; /* 기본 폰트 사이즈를 증가 */
  }
}

.slide-left {
    animation: slideLeft 0.5s ease-in-out;
}

.slide-right {
    animation: slideRight 0.5s ease-in-out;
}

@keyframes slideLeft {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideRight {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

/* 페이지 전환 시 이전 페이지가 사라지는 애니메이션 */
.slide-left-exit {
    animation: slideLeftExit 0.5s ease-in-out;
}

.slide-right-exit {
    animation: slideRightExit 0.5s ease-in-out;
}

@keyframes slideLeftExit {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

@keyframes slideRightExit {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}